*{
  font-family: 'Roboto', sans-serif;
}

img{
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

:root{
  --teal:#2C3E50;
  --emerald:#1ABC9C;
  --light-teal:#3A546D;
}

.emerald-1,
.emerald-2{
  background-color: var(--emerald);
  min-height: 150px;
  padding: 60px 0px;
  color: white;
}

.white-1,
.white-2{
  background-color: white;
  min-height: 150px;
  padding: 60px 0px;
  color: black;
}

.light-teal-1,
.light-teal-2{
  background-color: var(--light-teal);
  min-height: 150px;
  padding: 60px 0px;
  color: white;
}

.teal{
  background-color: var(--teal);
  min-height: 65px;
  padding: 40px 0px;
  color: white;
}

ul,
li{
  list-style: none;
}

ul{
  padding-left: 0;
}


div[class^="col-"] {
  /* border: 2px solid salmon; */
  /* min-height: 20px; */
  /* padding: 15px; */
}

header{
  background-color: var(--teal);
  color: white;
}

.avatar{
  height: 250px;
}

.line{
  border-bottom: 3px solid white;
  width: 100%;
  margin: auto;
}

.line-black{
  border-bottom: 3px solid black;
  width: 100%;
  margin: auto;
}

.subtitle{
  text-transform: uppercase;
  font-size: 40px;
}


/* EMERALD 1 CUSTOM STYLE */

.emerald-1-title{
  text-transform: uppercase;
  font-size: 50px;
}

.fa-star{
  font-size: 30px;
}

.skills{
  text-transform: uppercase;
}

/* NAVBAR */

.navbar-brand{
  font-weight: 500;
}

.nav-link{
  color: white;
  font-weight: 500;

}


/* WHITE 1 CUSTOM STYLE */

.rounder{
  border-radius: 10px;
}



/* EMERALD 2 CUSTOM STYLE */

.about-description{
  font-size: 18px;
}


/* WHITE 2 CUSTOM STYLE */

.form{
  width: 100%;
  border: 0px;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

.margin-zero{
  margin-top: -15px;
}

.form-message {
  display: block;
  width: 100%;
  padding: 0rem 0.75rem 6.375rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 0px;
  border-bottom: 2px solid grey;
}

.btn_acqua{
  background-color: var(--emerald);
  border-color: var(--emerald);
}

.btn-item-acqua{
  text-align: start;
  padding-top: 20px;
}


/* TEAL FOOTER SECTION */

.highlighted{
  color: var(--emerald);
}

.fa-brands{
  font-size: 18px;
  padding: 13px;
  border: 1px solid white;
  border-radius: 999px;
}

.footer-list{
  display: flex;
  justify-content: center;
  gap: 4px;
}
