*{
  font-family: 'Roboto', sans-serif;
}

img{
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

:root{
  --teal:#2C3E50;
  --emerald:#1ABC9C;
  --light-teal:#3A546D;
}

.emerald-1,
.emerald-2{
  background-color: var(--emerald);
  min-height: 150px;
  padding: 60px 0px;
  color: white;
}

.white-1,
.white-2{
  background-color: wheat;
  min-height: 150px;
  padding: 60px 0px;
  color: black;
}

.light-teal-1,
.light-teal-2{
  background-color: var(--light-teal);
  min-height: 150px;
  padding: 40px 0px;
  color: white;
}

.teal{
  background-color: var(--teal);
  min-height: 65px;
  padding: 20px 0px;
  color: white;
}


div[class^="col-"] {
  /* border: 2px solid salmon; */
  /* min-height: 20px; */
  /* padding: 15px; */
}

header{
  background-color: var(--teal);
  color: white;
}

.avatar{
  height: 250px;
}

.line{
  border-bottom: 3px solid white;
  width: 100%;
  margin: auto;
}

.line-black{
  border-bottom: 3px solid black;
  width: 100%;
  margin: auto;
}

.subtitle{
  text-transform: uppercase;
  font-size: 40px;
}

/* EMERALD 1 CUSTOM STYLE */

.emerald-1-title{
  text-transform: uppercase;
  font-size: 50px;
}

.fa-star{
  font-size: 30px;
}

.skills{
  text-transform: uppercase;
}


/* WHITE 1 CUSTOM STYLE */

.rounder{
  border-radius: 10px;
}